#window {
  background-color: transparent;
  background: transparent;
  border-radius: 0px;
  border-color: #000;
  border-width: 2px;
}

#outer-box {
  display:flex;
  border: solid;
  border-top: none;
  border-width: 1px;
  /* border-radius: 12px; */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: rgba(150, 100, 150, 1);
  background-color: rgba(30, 30, 29, 0.8);
}

#input {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
}

#input:focus {
  border: none;
  box-shadow: inset 0 0 0 2px transparent;
}

#scroll {
  margin-top: 31px;
  border-color: rgba(150, 100, 150, 1);
  color: #cdd6f4;
  font-weight: bold;
  border-radius: 8px;
  background: transparent;
}


#entry {
  font-size: 19px;
  border-color: rgba(150, 100, 150, 1);
  border-radius: 10px;
  background-color: transparent;
  background: transparent;
}

#entry:selected {
  background-color: #89b4fa;
  background: rgba(220, 190, 200, 1);
}

#text:selected {
  color: #221020;
  border: none;
}
